* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

pre, code {
    font-family: 'Fira Mono', monospace;
}

a {
    color: #0288d1; /* Light Blue 700 */
}

a:visited {
    color: #0277bd; /* Light Blue 800 */
}
